<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ghar kharedi</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .bs-example{
        margin: 0px;
    }
    <style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing:border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: horizontal;
}

input[type=submit] {
  background-color: #DEB887;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  width: 150%;
  background-color: #000000;
  color: white;
  padding: 15px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.header {
  padding: 60px;
  text-align: center;
  background: #DEB887;
  color: white;
  font-size: 30px;
}
</style>
</head>
</style>
</head>
<body style="background-color:black;">
<div class="bs-example" >
    <nav class=" navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand" style="color:#DEB887">Ghar Kharedi</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="home.html" class="nav-item nav-link active"  style="color:#DEB887">H</a>
                <a href="#about_us" class="nav-item nav-link active" style="color:#DEB887">About</a>
                <a href="#contact" class="nav-item nav-link active" style="color:#DEB887">Contact</a>
                <a href="#service" class="nav-item nav-link active" style="color:#DEB887">Service</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color:#DEB887">Buy a home</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item" style="color:#DEB887">Rent a house</a>
                        <a href="#" class="dropdown-item" style="color:#DEB887">Buy a house</a>
                        <a href="#" class="dropdown-item" style="color:#DEB887">P.G</a>
                        <a href="#" class="dropdown-item" style="color:#DEB887">plot</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color:#DEB887">Sell a home</a>
                    <div class="dropdown-menu">
                        <a href="tel:+917249281517" class="dropdown-item" style="color:#DEB887">talk to agent</a>
                        
                    </div>
                </div>
            </div>
            <form class="form-inline">
                <div class="input-group">                    
                    <input type="text" class="form-control" placeholder="Search for homes"  style="color:#DEB887">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary"><i class="fa fa-search"  style="color:#DEB887"></i></button>
                    </div>
                </div>
            </form>

            <div class="navbar-nav">
                <a href="index.html" class="nav-item nav-link" style="color:#DEB887">Account</a>
                
            </div>
           
        </div>
    </nav>
</div>

<div><img src="gharkharedi\images\h1.png" height="800" width="1520"></div>
  
  

</div>
<div class="header">
  <h1 id="about_us" align="center">ABOUT</h1>
  <p></p>
</div>

<img src="ghar2.png" align="center" >
<div class="container">
<table>
    <tr>
        <td><p><h1 align="center" style="color:#DEB887">Foremost Estate Agent in Pune</h1>
If you are thinking about buying or selling a property in or around the Pune area, you need a company that knows the market. Here at Ghar Kharedi we have a wide selection of properties on our books and experienced staff to help you with your next step. Similarly, if you are looking for commercial property to buy, rent or lease, then come and see what we have on offer. To get in touch, please contact us through our booking form.</p></td>
        <td><img src="gharkharedi/images/2.jpg" align="right" height="400" width="500"></td>
    </tr>
</table>
</div>
<div class="container">
<table>
    <tr><td><img src="gharkharedi/images/3.jpg" align="left" height="400" width="550"></td>
        <td><p><h1 align="center" style="color:#DEB887">Selling your home</h1>
If you are looking to sell, let me give you a fair valuation of your property's worth today. I pride myself on creating informative and engaging listings for each and every house in my portfolio, so when you choose to sell with me, you won't be disappointed. As one of the top estate agents in the area, I have my finger on the pulse of the housing market, which will help you get the best deal.</p></td>
        
    </tr>
</table>
</div>
<div class="container">
<table>
    <tr>
        <td><p><h1 align="center" style="color:#DEB887">Finding the perfect property</h1>
I am to provide every one of my clients with the best experience possible. With this goal in mind, I make it as easy as possible to see all the details of the currently available listings, no matter if they’re available to let or to buy. You can pin down the specifics of your ideal home using a variety of key features such as location, price, number of bedrooms, house, flat and so on. If you’re not quite sure what you want, I'm always available to help.</p></td>
        <td><img src="gharkharedi/images/5.jpg" align="right" height="400" width="500"></td>
    </tr>
</table>
</div>
<div class="header">
  <h1 id="service" align="center">SERVICES</h1>
  <p></p>
</div>
<center>
<div style="background-color:white;">
<div class="card" style="width: 18rem;">
  <img src="D:\WEB\ghar kharedi\images\5.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">PROPERTIES TO SALE</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">GO TO SEE PROPERTIES</a>
  </div>
</div>

<div class="header">
  <h1 id="contact" align="center">CONTACT</h1>
  <p></p>
</div>
</div>
</center>
<div class="container">
  <div style="text-align:center">
    
    <p>GET IN TOUCH WITH US</p>
  </div>
  <div class="row">
    <div class="column">
     <a href="tel:+917249281517" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">CALL NOW</a>
      <P>+91 7249281517</P>

      <a href="https://www.google.com/maps/dir//Ghar+Kharedi/@18.5375286,73.7633447,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bc2bfa0056249f1:0x1de7c1b86cdc64c2!2m2!1d73.8333852!2d18.5375415" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">GET ADRESS</a>
      <P>27 anurang bunglo jawahar nagar
Pune, Maharashtra 411016
India</P>
<h2 >SOCIAL MEDIA HANDLES</h2>
<h2>
<a href="https://www.facebook.com/gharkharedi133/" class="fa fa-facebook"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-instagram"></a>
</h2>

    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="email">enter your email</label>
        <input type="email" id="email" name="email"placeholder="enter your email">
        <div>
        <label for="subject">enter your message</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
    </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
